.responsive {
    padding: 1px;
    float: left;
    width: 49%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49%;
        margin: 1px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}



.square-container {  /* any display: block; element */
  position: relative;
  padding-bottom: 60%; /* of parent width */
  max-height:600;
  max-width: 500;
}
.square-content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

}
